HOST=0.0.0.0
PORT=1337
APP_KEYS=DHsc5/zOPezhnxRKFQWr+w==,GYKPLj7Ps7wLOJ1krrZeZg==,rHUkkpeR6a1zKIYQWgGtJQ==,vmxH9g/4rk4rCKkxByfu9Q==
API_TOKEN_SALT=K7YJ/AE6rPST/Mn7CDMkVA==
ADMIN_JWT_SECRET=LtRXY/Wic2CFM/wpmpb3zw==
TRANSFER_TOKEN_SALT=CKktbXQPdAAMaYtRullhYg==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=TODO
DATABASE_PORT=5432
DATABASE_NAME=TODO
DATABASE_USERNAME=TODO
DATABASE_PASSWORD=TODO
DATABASE_SSL=false
JWT_SECRET=/hbe1X15x+quVYk5OuiZkw==
